[mysql]
prompt = '\u@\h [\d]> '
no-auto-rehash
[client]
port    = 3306
socket  = /tmp/mysql_3306.sock
default-character-set = utf8mb4

[mysqld]
########basic settings########
server-id = 1
port = 3306
user = mysql
socket  = /usr/local/mysql/mysql.sock
basedir         = /opt/mysql
datadir         = /data/mysql/data
tmpdir          = /data/mysql/mysqltmp
log-error       = /data/mysql/log/mysql_run.err
pid-file        = /data/mysql/pid_mysql.pid
autocommit = 1
back_log = 1024
bind-address = 0.0.0.0
init-connect = 'SET NAMES utf8mb4'
character_set_server=utf8mb4
skip_name_resolve = 1
max_connections = 3000
max_connect_errors = 5000
transaction_isolation = REPEATABLE-READ
explicit_defaults_for_timestamp = 1
join_buffer_size = 128M
lower_case_table_names = 1
tmp_table_size = 1024M
tmpdir = /data/mysql/mysqltmp
default_storage_engine = INNODB
max_allowed_packet = 512M
sql_mode = "STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION,NO_ZERO_DATE,NO_ZERO_IN_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER"
#interactive_timeout = 1800
#wait_timeout = 1800
read_buffer_size = 16777216
read_rnd_buffer_size = 33554432
sort_buffer_size = 33554432
log_bin_trust_function_creators = 1
max_heap_table_size = 1024M
secure_file_priv="/"
########log settings########
slow_query_log = 1
slow_query_log_file = /data/mysql/log/mysql_slow.log
#log_queries_not_using_indexes = 1
log_slow_admin_statements = 1
log_slow_slave_statements = 1
log_throttle_queries_not_using_indexes = 10
expire_logs_days = 15
long_query_time = 1
min_examined_row_limit = 100
########replication settings########
master_info_repository = TABLE
relay_log_info_repository = TABLE
log-bin = /data/mysql/log/mysql-bin.log
log-bin-index = mysql-bin.index
sync_binlog = 1
gtid_mode = on
enforce_gtid_consistency = 1
log_slave_updates
binlog_format = row
relay-log = /data/mysql/log/mysql-relay.log
relay-log-index = mysql-relay.index
relay_log_recovery = 1
binlog_gtid_simple_recovery = 1
########innodb settings########
innodb_buffer_pool_size = 56304M
innodb_buffer_pool_instances = 8
innodb_buffer_pool_load_at_startup = 1
innodb_buffer_pool_dump_at_shutdown = 1
innodb_lru_scan_depth = 4000
innodb_flush_log_at_trx_commit = 2
innodb_lock_wait_timeout = 10
innodb_io_capacity = 5000
innodb_io_capacity_max = 12000
innodb_write_io_threads = 16
innodb_read_io_threads = 16
innodb_flush_method = O_DIRECT
innodb_data_home_dir = /data/mysql/data
innodb_data_file_path = ibdata1:1024M:autoextend
innodb_log_group_home_dir = /data/mysql/redolog/
innodb_log_file_size = 2G
innodb_log_files_in_group = 3
innodb_log_buffer_size = 32M
innodb_undo_directory = /data/mysql/undolog/
innodb_undo_logs = 128
innodb_undo_tablespaces = 3
innodb_max_undo_log_size = 2G
innodb_undo_log_truncate = 1
innodb_flush_neighbors = 1
innodb_purge_threads = 4
innodb_large_prefix = 1
innodb_thread_concurrency = 64
innodb_print_all_deadlocks = 1
innodb_strict_mode = 1
innodb_sort_buffer_size = 67108864
innodb_file_per_table = 1
innodb_max_dirty_pages_pct = 50
innodb_buffer_pool_dump_pct = 40
innodb_page_cleaners = 4
innodb_purge_rseg_truncate_frequency = 128
group_concat_max_len = 10000
########semi sync replication settings########
plugin_load = "rpl_semi_sync_master=semisync_master.so;rpl_semi_sync_slave=semisync_slave.so"
loose_rpl_semi_sync_master_enabled = 1
loose_rpl_semi_sync_slave_enabled = 1
loose_rpl_semi_sync_master_timeout = 5000
binlog_gtid_simple_recovery=1
log_timestamps=system
transaction_write_set_extraction=MURMUR32
show_compatibility_56=on
#slave-parallel-type=LOGICAL_CLOCK
#slave-parallel-workers=16

[mysqldump]
quick
max_allowed_packet = 512M

[mysqld_safe]
open-files-limit = 65536